@charset "utf-8";
/*
 reset default css  
*/
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0;
}
body,
::-webkit-input-placeholder{
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, STHeiTi, sans-serif;
  font-size: 24px;
}
input:-moz-placeholder {
  font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, STHeiTi, sans-serif;
  font-size: 24px;
}
li {
  list-style: none outside none;
}
a:link,
a:hover {
  text-decoration: none;
}
a img {
  border: 0;
  vertical-align: bottom;
}
button {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  border: none;
}
legend {
  display: none;
}

i {
  display: inline-block;
}
.wrap em {
  font-style: normal;
}
@media (min-width: 320px) and (max-width: 360px) { 
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  ::-webkit-input-placeholder,
  textarea {
    font-size: 14px;
  }
  input:-moz-placeholder{
    font-size: 18px;
  }
  .projectInfo section dl{width: 3.8rem;}
}
@media (min-width: 360px) and (max-width: 480px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  ::-webkit-input-placeholder,
  textarea {
    font-size: 16px;   
  }
  input:-moz-placeholder{
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .projectList ul li.qiang{width: 18%;margin-top: -1rem;}
}
@media (min-width: 480px) and (max-width: 640px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  ::-webkit-input-placeholder,
  textarea {
    font-size: 18px;
  }
  input:-moz-placeholder{
    font-size: 18px;
  }
}
@media (min-width: 380px) and (max-width: 420px) {
  html,
  .wrap,
  body,
  input,
  h1,
  h2,
  h3,
  h4,
  select,
  ::-webkit-input-placeholder,
  textarea {
    font-size: 18px;
  }
  input:-moz-placeholder{
    font-size: 18px;
  }
}

.clearfix:after{content:".";display:block;height:0;overflow:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

.fl { float: left; }
.fr { float: right; }
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }
.pr{position: relative;}
.pa{position: absolute;}
.pf{position: fixed;}
.hide{display: none;}
.db{display:block;}
.whiteBg{background-color: #fff;}
.b0{margin-bottom: 0;}
.greyBg{background-color: #f5f5f9;}
.bgnone{background: none;border:none;}

.ml0{margin-left:0.5rem;}
.ml1{margin-left:1rem;}
.ml2{margin-left:2rem;}
.mr02{margin-right:0.2rem;}
.mr0{margin-right:0.5rem;}
.mr1{margin-right:1rem;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt_0{margin-top:0rem !important;}
.mt0{margin-top:0.5rem;}
.mt08{margin-top:0.8rem;}
.mt1{margin-top:1rem !important;}
.mt3{margin-top:3rem;}
.mt2{margin-top:2rem;}
.mb2{margin-bottom:2rem;}
.mb4{margin-bottom:4rem;}
.mb0{margin-bottom:0.5rem;}
.mb1{margin-bottom:1rem !important;}
.mb15{margin-bottom:1.5rem;}
.mb9{margin-bottom:9rem;}
.pl2{padding-left: 2%;}
.pb1{padding-bottom:1rem !important;}
.pb0{padding-bottom:0.5rem !important;}
.pb2{padding-bottom:2rem;}
.pb3{padding-bottom:3rem;}
.pb4{padding-bottom:4rem;}
.pb6{padding-bottom:6rem !important;}
.pb20{padding-bottom:20px;}
.pt0{padding-top:0.5rem !important;}
.pt1{padding-top:1rem !important;}

.fontOrange{color:#ff8200 !important;}
.fontGrey{color:#9b9b9b !important;}
.fontBlack{color:#212121 !important;}
.fontGreen{color:#79cc73 !important;}
.fontRed{color:#e60012 !important;}

.font1{font-size: 1rem !important;}
.font12{font-size: 1.2rem !important;}
.font0{font-size: 0.8rem !important;}
.font08{font-size: 0.875rem !important;}

.lineH1{line-height: 1.5rem;}
.lineH18{line-height: 1.8rem;}
.lineH2{line-height: 2rem;}
.lineH3{line-height: 3rem;}

.w100{width:100% !important;}

.tIndent{text-indent:2rem;}

.borRadius{border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.borRadius0{border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;}
.borTop{border-top:1px solid #dfdfdf;}
.borBotDashed{border-bottom:1px dashed #dfdfdf;}
.borTopDashed{border-top:1px dashed #dfdfdf;}
.borRadius5{border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.borRadiusBtn{border-bottom-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-bottom-right-radius: 5px;}
.wrap{width: 100%; min-width: 320px; max-width: 640px; margin: 0 auto;}
/*按钮样式*/
.btn_orange{height:2.4rem;line-height: 2.4rem;border:1px solid #ff8200;background: #ff8200;color:#ffffff;font-size: 1rem;}
.btn_orangeBor{height:2.4rem;line-height: 2.4rem;border:1px solid #ff8200;color:#ff8200;font-size: 1rem;}
.btn_greyBor{height:2.4rem;line-height: 2.4rem;border:1px solid #e8e8e8;color:#d0d0d0;font-size: 1rem;}
.btn_grey{height:2.4rem;line-height: 2.4rem;background: #d2d2d4;color:#ffffff;border:1px solid #d2d2d4;font-size: 1rem;}
